*{
    color:#fff; 

}


body{
    margin:0;
    padding:0;
    width:100w;
    height: 100vh;
    background-color: #17181F; 

}

.nav-bar{
    display:flex;
}

ul{
    width:100%;
    display: flex;
    align-items: center;
    color:#FFF;
    list-style-type:none;
    white-space:nowrap;
}
ul li{
    margin-left:20%;
}

b{
    font-size:25px;
    font-family: monospace;
}

b:nth-of-type(1) {
color:#fff;
}

b:nth-of-type(2) {
    color:black;
}

button{
        background-color: #f9c54f ;
        padding:10px;
        border-radius: 10px;
        border:none;
        font-weight: bolder;
        color:#000;
        cursor:pointer;
        
}
.content{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.features{
    display:flex;
}
.features div{
    width: auto;
    height: auto;
    padding:5px;
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    flex-wrap: wrap;
    border-top: groove 1px;
    border-left: groove 1px;
    border-right: groove 1px;
    border-left: groove 1px;
    margin-left:2%;
    border-radius:10px;
    border-bottom: groove 1px rbg(69, 64, 64);

}